@{
    ViewBag.Title = "Trang chu";
}
<div class=""banner text-center"">
    <h1>Phong Kham Online</h1>
    <p class=""lead"">Dat lich kham benh truc tuyen - Buoc 1: Skeleton project da san sang.</p>
</div>
<div class=""alert alert-info"">
    Du an ASP.NET MVC 5 + Entity Framework 6. Cac buoc tiep theo se them Models, Identity, Controllers...
</div>